:root{
    --fontHeading: 'PT Sans', sans-serif;
    --fontParagraph:  'Open Sans', sans-serif;
    --primary: #3c4778;
    --white: #ffffff;
    --black:#000000;
    --gray:#e1e1e1;
    --blue:#43bb4d;
    --secondBlue:#225509;
}
html{
    box-sizing: border-box;
    font-size: 62.5%;
}
*,*:before,*:after{
    box-sizing: inherit;
}
body{
    font-family: var(--fontParagraph);
    font-size: 1.6rem;
    line-height: 2;
}
/*Globales*/
.container{
    max-width: 120rem;
    width: 90%;
    margin: 0 auto;
}
a{
    text-decoration: none;
}
h1,h2,h3,h4{
    font-family: var(--fontHeading);
}
h1{
    font-size: 4.8rem;
}
h2{
    font-size: 4rem;
}
h3{
    font-size: 3.2rem
}
h4{
    font-size: 2.8rem;
}
img{
    max-width: 100%;
}
.no-margin{
    margin: 0;
}
.no-padding{
    padding: 0;
}
.text-center{
    text-align: center  ;
}
img{
    border-radius: 10px;
}

/*New nav bar*/
.header{
    background-color: var(--blue);
    height: 80px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
}
.nav{
    display: flex;
    justify-content: space-between;
   
}
.nav-link{
    color: var(--white);
    font-weight: bold;
}
.logo{
    font-size: 30px;
    font-weight: bold;
    padding: 0px 40px;
    line-height: 80px;
}

.nav-menu{
    display: flex;
    margin-right: 40px;
    list-style: none;
}
.nav-menu-item{
    font-size: 18px;
    margin: 0 10px;
    line-height: 50px;
    width: max-content;
}
.nav-menu-link{
    padding: 8px 12px;
    border-radius: 3px;
}
.nav-menu-link:hover,
.nav-menu-link-active{
    background-color:var(--secondBlue);
    transition: 0.5s;
}

/*Responsive nav bar*/
.nav-toggle{
    color: var(--white);
    background: none;
    border: none;
    font-size: 30px;
    padding: 0 20px;
    line-height: 60px;

    display: none;
}

@media(max-width:768px){
    
    body{
        padding-top: 70px;
    }

    .header{
        background-color: var(--blue);
        height: 60px;
        
    }
    
    .logo{
        font-size: 25px;
        padding: 0 20px;
        line-height: 60px;
    }
    .nav-menu{
        flex-direction: column;
        margin: 0;
        background-color: #2c3e50;
        position: fixed;
        left: 0;
        top: 60px;
        width: 100%;
        align-items: center;
        padding: 20px 0;

        height: calc(100% - 60px);
        overflow-y: auto;

        left: 100%;
        transition: left 1s;
    }
    .nav-menu-item{
        line-height: 70px;

    }
    
    .nav-menu-link:hover,
    .nav-menu-link_active{
        background-color:none;
        transition: 0.1s;
        color:#83c5f7;
    }
    .nav-toggle{
        display: block;
        cursor:pointer;
    }
    .nav-menu_visible{
        left: 0%;
    }
}

/*Header*/
.header2{
    background-image: url(../img/slider1.jpg);
    height: 400px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
.header-products{
    background-image: url(../img/slider2.jpg);
    height: 400px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    opacity: 80%;
}
.header__text{
    text-align: center;
    color: var(--white);
    margin-top: 0px;
    padding-top: 120px;
}
@media(min-width:768px){
    .header__text{
        margin-top: 90px;
        
    }
    .bar{
        padding-top: 30px;
    }
}
@media(min-width:768px){
    .bar{
        display: flex;
        /*Justify content to aligne horizontal */
        justify-content: space-between;
        /*Alig items to aligne vertical */
        align-items: center;
    }
}
.logo{
    color: var(--white);
}
.logo__name{
    font-weight: normal;
}
.logo__bold{
    font-weight: 700;
}
.navigation__link{
    display: block;
    text-align: center;
    font-size: 18px;
    color: var(--white);
}
@media(min-width:768px){
    .navigation{
        display: flex;
        gap: 20px;
    }
}


/*Footer*/
.footer{
    display: flex;
    justify-content: center;
    background-color: var(--black);
    padding-bottom: 30px ;
    margin-top: 30px;
}
.footer a{
    font-size: 15px;
}
.footer nav{
    padding-top: 0px;
}

/*Page About us*/
.about-us__imagen img{
    border-radius: 10px;
}

.about-us__text h4,
.about-us__text h5,
.about-us__text p{
    margin-top: 5px;
    margin-bottom: 5px;
}
@media(min-width:768px){
    .about-us{
        display: grid;
        grid-template-rows: repeat(2,1fr);
        column-gap: 20px;
    }
    .about-us__text{
        text-align: center;
        margin: auto;
        max-width: 70%;
    }
}
/*Page Contact*/
.contact__text h5,
.contact__text h4,
.contact__text p{
    margin-top: 5px;
    margin-bottom: 5px;
}
@media(min-width:768px){
    .contact{
        display: grid;
        grid-template-columns: 2fr 1fr;
        column-gap: 20px;
    }
    .contact__text{
        margin:  auto;
    }
}

/*Page Products*/
.product-item h5{
    text-align: center;
    font-size: 20px;
}
@media(min-width:768px){
    .products{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        column-gap: 20px;
    }
}